<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.craffic.spring.security.oauth2.dao.TbUserDao">
    <sql id="TbUserColumns">
        u.id,
        u.username,
        u.phone,
        u.email,
        u.created,
        u.updated
    </sql>

    <select id="selectById" resultType="com.craffic.spring.security.oauth2.domain.vo.M_TbUserVo">
      SELECT * FROM TB_USER T WHERE T.ID = #{id}
    </select>
</mapper>